@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

div::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: gray;        /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background: rgb(90, 89, 89);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}